h1{
  width: 99%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  background-color: rgb(41, 75, 41);
  font-weight: bolder;
  color: white;
}


//  telefono 
@media (max-width: 575px) {

h1{
  width: 89%;
  font-size: 26px;
}

}