header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primario);
}

h1 {
  color:var(--color-fuente);
}

// tablet
@media only screen and (max-width: 280px) {

  header {
    width: 100%;    
  }

 

}

//  telefono
@media (max-width: 575px) {

  header {
    width: 100%;
    font-size: 26px;
  }

  h1{
    font-size: 15px;
  }
}
