<section class="contenedor">
  <div class="opciones">
    <button class="opcion" (click)="cambiarMenu('Breakfast')">Desayuno</button>
    <button class="opcion" (click)="cambiarMenu('Lunch')">Almuerzo</button>
    <button class="opcion" (click)="cambiarMenu('Beverages')">Bebidas-Postre-Café</button>
    <button class="opcion" (click)="cambiarMenu('Combos')">Combos</button>
    <button class="opcion" (click)="cambiarMenu('Sides')">Sides</button>
    <button class="pedidosTerminados" (click)="verPedidosListo()">Ver pedidos listo</button>
  </div>


  <form>

    <section class="contenedor__contenido">

      <ul>
        <li *ngFor="let product of obtenerProductosFiltrados()" type="button"
          (click)="agregandoProductoResumen(product)">
          <img [src]="product.image" alt="Imagen del producto">
          <div class="descripcionProductos">
            <p>{{product.name}}</p>
            <p>{{product.price}}</p>
            <p>{{product.type}}</p>
          </div>
        </li>
      </ul>


      <section class="orden">
        <div class="titulo">
          <h3>Orden</h3>
        </div>
        <label>Cliente:</label>
        <input type="text" name="cliente" placeholder="Nombre del cliente" [(ngModel)]="nombreCliente" required>
        <span *ngIf="!nombreCliente" style="color: red;">Obligatorio</span>
        <div *ngFor="let product of pedido; let i = index" class="agregar">
          <div class="agregado__contenido">
            <p> {{product.name}}</p>
            <p> {{product.price}}</p>
            <div class="contenedorResumenInterno">
              <img class="clear" src="./../../assets/imagenes/papelera.png" (click)="eliminarDelPedido(i)">
            </div>
          </div>
        </div>
        <div>
          <div id="totalACancelar">Total a cancelar: ${{total}} </div>
        </div>

        <div>
          <button id="envioCocina" type="submit" (click)="enviarACocina()" [disabled]="!nombreCliente">Enviar</button>
        </div>

      </section>

    </section>


  </form>
</section>
