<h1>Pedidos del dia por entregar</h1>
<section class="recibiendoPedido">
  <ul *ngFor="let orden of pedidosListoCocina" id="cadaPedido" class="ulPedido">
    <li *ngFor="let productoListo of orden.products" class="producto">
      <div id="numeroPedido">Pedido N° {{orden.id}}</div>
      <img [src]="productoListo.product.image" alt="Imagen del producto">
      <div id="descricionOrden">
        <p>Nombre cliente: {{ orden.client }}</p>
        <p>Producto: {{ productoListo.product.name }}</p>
        <p>Precio: $ {{ productoListo.product.price }}</p>
        <p>ID de Pedido: {{ productoListo.product.id }}</p>
        <p>Estado: {{ orden.status }}</p>
      </div>
    </li>
    <button class="entregado">Despachar</button>
  </ul>
</section>
