* {
  margin: 0px;
  padding: 0px;
}


h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  background-color: rgb(41, 75, 41);
  font-weight: bolder;
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verPedidos {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(219, 231, 201);
}

#cadaPedido {
  width: 60%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: rgb(120, 148, 97);
  border-radius: 10px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 55px;
  background-color: rgb(41, 75, 41);
}

.producto {
  border-bottom: 5px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(120, 148, 97);
}

img,
#listo {
  display: block;
  margin: 0 auto;
  width: 90px;
  height: 70px;
  margin-top: 15px;
  margin-bottom: 5px;
}


#listo {
  margin-top: -47px;
  margin-bottom: 5px;
  margin-left: 560px;
}


p {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: 19px;
  margin-bottom: 10px;
  margin-left: 10px;
}

button {

  height: 40px;
  background-color: rgb(173, 188, 159);
  font-size: 25px;
}


//  telefono 
@media (max-width: 575px) {

  .verPedidos {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 12px;
  }

  #listo {
    margin-top: -47px;
    margin-bottom: 5px;
    margin-left: 138px;
  }

  button {
    height: 20px;
    background-color: rgb(173, 188, 159);
    font-size: 13px;
  }

  p {

    font-size: 12px;
  }

}


// tablet
@media (min-width: 576px) and (max-width: 996px) {

  h1 {
    width: 100%;
  }

  .verPedidos {

    width: 90%;
  }

  #listo {
    margin-left: 172px;
  }

}