#menu {

  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  width: 100%;
  height: 250px;
}


#div-desayuno-tarde {
  display: flex;
  margin-bottom: 10px;
  font-size: 30px;
  justify-content: center;
}

.tituloProducto {

  display: block;

}

ul {

  display: flex; 
  width: 100%;
  height: 100%;
  flex-direction: row;
}

li {
  border-radius: 10px;
  border: 2px solid black;
  margin: 5px;
  width: 30%;
  height: 120px;
  display: flex;
  flex-direction: row;

}


img {
  width: 120px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-right: 5px;

}


#ResumenVenta {
  border: 2px solid black;
  width: 30%;
  height: 50%;
  display: flex;
  margin-left: 500px;
 


}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;


}

#envioCocina {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mañana {

  list-style: none;
  display: grid;
  // grid-template-rows: 1fr 1fr 1fr 1fr;	
}