* {
  margin: 0;
  padding: 0;
}

#contenedor {
  background-color: rgb(219, 231, 201);
}

#menu {
  width: 50%;
  height: 100%;
  flex-direction: row;
}

#div-desayuno-tarde {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
}

#liResumen {
  list-style: none;
}

.barraMenu {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  justify-content: center;
  background-color: rgb(80, 98, 58);
  border-radius: 10px;
  width: 131px;
  height: 44px;
  margin-left: 2px;
  color: white;
  font-weight: bolder;
}

ul {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 17px;
  width: 100%;
  height: 100%;
}

li {
  border-radius: 10px;
  border: 5px solid black;
  width: 90%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(120, 148, 97);
  padding: 10px;
  margin-left: 10px;
  margin-right: 30px;
}

img {
  width: 90px;
  height: 70px;
  display: block;
  margin: 0 auto;
}

.tituloProducto {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#resumenVenta {
  width: 36%;
  height: 50%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 10px;
  border: 5px solid black;
  box-sizing: border-box;
}

#nombreCliente {
  padding: 10px;
}

input {
  margin-bottom: 10px;
}

#pediodoCliente {
  list-style: none;
  grid-template-columns: 1fr;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bolder;
  background-color: rgb(41, 75, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  height: 50px;
  border-radius: 5px 5px 0px 0px;
}

#seleccionProducto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: inline-block;
}

#envioCocina {
  display: block;
  margin: 0 auto;
  width: 131px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 75, 41);
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  margin-bottom: 5px;
  margin-top: 10px;
}

#envioCocina:hover {
  background: rgb(219, 231, 201);
  border: 2px solid rgb(80, 98, 58);
  font-weight: bolder;
}

button:hover {
  background: rgb(219, 231, 201);
  border: 2px solid rgb(80, 98, 58);
}

#ulResumen {
  display: block;
  border: 1px solid black;
  width: 338px;
  padding: 5px;
  margin-left: 10px;
}

#mañana {
  list-style: none;
  display: grid;
  justify-items: end;
  margin-top: 25px;
  margin-bottom: 20px;
}

.mañana {
  grid-gap: 10px;
}

#tituloDelResumen {
  display: block;
}

.productPrecio {
  display: inline-flex;
}

.clear {
  width: 20px;
  height: 30px;
  margin-left: 342px;
}

.contenedorResumen p,
.clear {
  display: inline;
}

#totalACancelar {
  height: 20px;
  background: rgb(80, 98, 58);
  border: 2px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contenedorProducto-Resumen {
  width: 100%;
  display: flex;
}

//  telefono 
@media (max-width: 575px) {

  * {
    margin: 0;
    padding: 0;
  }

  .barraMenu {
    width: 52px;
    height: 41px;
    font-size: 7px;
  }

  #menu {
    width: 79%;
    height: 100%;
  }

  img {
    width: 61px;
    height: 56px;
  }

  .tituloProducto {
    font-size: 14px;
  }

  h2 {
    font-size: 19px;
  }

  #nombreCliente {
    padding: 1px;
    font-size: 12px;
  }

  #resumenVenta {
    width: 90%;
    margin-top: 30px;
  }

  #mañana {
    display: block;
  }

  #totalACancelar {
    font-size: 12px;
  }

  #ulResumen {
    width: 80%;
    margin-left: 14px;
  }

  input {
    width: 181px;
    font-size: 9px;
  }

  #envioCocina {
    width: 81px;
    height: 32px;
    font-size: 10px;
  }

  .productPrecio {
    font-size: 6px;
  }

  .contenedorResumen {
    display: inline;
    font-size: 14px;
  }

  li {
    width: 100%;
    margin-left: 18px;
    margin-bottom: 10px;
  }

  #contenedorProducto-Resumen {
    width: 100%;
    display: inline;
  }

  .clear {
    width: 20px;
    height: 30px;
    margin-left: 263px;
  }

  .contenedorResumen p,
  .clear {
    display: inline;
  }

  #seleccionProducto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: inline-block;
  }
  #div-desayuno-tarde{
    display: flex;
    width: 88%;
    height: 30%;
    justify-content: center;
    align-items: center;
  }

}
// tablet
@media (min-width: 576px) and (max-width: 996px) {

  .barraMenu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 131px;
    height: 44px;
  }

  #menu {
    width: 50%;
    height: 100%;
    display: flex;
    // flex-direction: row;
    // row-gap: 11px;
    // margin-left: 69px;    
    margin-left: 10px;
  }

  #resumenVenta {
    width: 36%;
    height: 50%;
    margin-left: 10px;
  }

  #ulResumen{
    width: 311px;

  }

  .clear{
    margin-left: 360px;

  }
  #totalACancelar{
    font-size: 12px;
  }  

.productoPrecio{
    font-size: 17px;
  }

.contenedorResumen{
  font-size: 17px;
 }

 .tituloProducto{
  font-size: 17px;
 }


}