main{
  display: flex;
  
}


#contenedor {
  width: 100%;
  height: 100%;
}

#div-desayuno-tarde {
  display: flex;
  margin-bottom: 10px;
  font-size: 30px;
  justify-content: center;
}

#menu-dia,
#menu-tarde {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

button {
  display: flex;
  justify-content: space-between;
  background-color: azure;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}

.producto {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  font-size: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

#ResumenVenta {
  border: 2px solid black;
  width: 30%;
  height: 50%;
  display: flex;
  margin-top: 100px;
  margin-right: 50px;
  
  
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;


}

#envioCocina {
  display: flex;
  justify-content: center;
  align-items: center;
}