
<app-header></app-header>
<body>
  <section id="contenedor">
    <section id="titulo">
      <h1>Burger DeliciasApp <br>
        Cafeteria Restaurant 
      </h1>
    </section>
    <section id="datosUsuario">
      <label for="correo">Ingresar su cuenta</label><br>
      <input type="email" id="correo" placeholder="Correo electrónico" required><br>
      <label for="clave">Ingresar su clave</label><br>
      <input type="password" id="clave" placeholder="Clave" required><br>
      <button type="submit" id="boton-enviar">Enviar</button>
    </section>    
  </section>
</body>
<app-footer></app-footer>