* {
  margin: 0;
  padding: 0;
}

#contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: 30px;
  width: 100%;
  height: 349px;
  margin-top: 147px;
  margin-bottom: 116px;
  border: 5px solid rgb(41, 75, 41);
  background-color: rgb(120, 148, 97);

}

h1 {
  border-right: 1px solid black;
  margin-right: 42px;
  padding: 5px;
  font-size: 50px;
  color: 333333;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 158px;

}

#datosUsuario {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  height: 349px;
  margin-top: 110px;
  margin-left: 2px;
}

label,
input {
  width: 300px;
  height: 30px;
  padding: 10px;
  margin-bottom: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

button {
  width: 310px;
  height: 50px;
  background-color: rgb(80, 98, 58);
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid seagreen;
  font-size: 30px;
  border-radius: 5px;
  font-weight: bolder;
  color: white;
  margin-top: 41px;
}


.error {
  color: red;
  font-size: 14px;
}


button[type="submit"]:disabled {
  background: #ccc;
}


//  telefono 
@media (max-width: 575px) {

  #contenedor {
    width: 84%;
    display: block;
    margin: auto;
  }

  h1 {
    font-size: 17px;
    border-right: none;
    margin-right: none;
    margin: auto;

  }

  h3 {
    
    margin-bottom: 15px;
    margin-left: 75px;
  }

  #datosUsuario {

    display: block;
    // margin-left: 20px;
    margin-top: 10px;
    margin-left: 61px;

  }

  label,
  input {
    width: 178px;
    font-size: 19px;
  }

  button {
    width: 193px;
    margin-top: 10px;
  }


}

// tablet

@media (min-width: 576px) and (max-width: 996px) {

  // #contenedor {
  //   width: 100%;
  //   margin-top: 147px;
  //   margin-bottom: 236px;
  // }

  // #datosUsuario {
  //   height: 349px;

  // }


}