/* You can add global styles to this file, and also import other style files */


:root {
  --color-primario: rgb(37, 95, 56); 
  --color-secundario:rgb(39, 57, 28);
  --color-terciario:rgb(31, 125, 83); 
  --color-border: rgb(52, 73, 85);
  --color-fuente: #ffffff;
  --font-family: 'Monterrat', sans-serif;
  --font-size:20px;
  --color-button:rgb(120, 160, 131);
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}
.main{
  height: calc(100% - 200px);
}

body{
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
}


